@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  filter: brightness(85%);
}

input,
button {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 25px 18px;
  background-color: #6889a5;
}
@media only screen and (max-width: 575.98px) {
  .header {
    padding-top: 18px;
    padding-bottom: 18px;
    transition: 0.3s ease-in;
  }
}
.header__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 8px;
  width: 100%;
}
@media only screen and (max-width: 991.98px) {
  .header__container {
    grid-template-columns: repeat(6, 1fr);
  }
}
.header__logo {
  max-width: 100%;
  grid-column: 1/span 2;
}
@media only screen and (max-width: 575.98px) {
  .header__logo {
    grid-column: 1/span 3;
    height: 70%;
  }
}
.header__titles {
  grid-column: 4/span 3;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 991.98px) {
  .header__titles {
    display: none;
  }
}
.header__title {
  font-size: 32px;
  color: #fff;
}
.header__title:not(:last-child) {
  margin-right: 16px;
}
.header__nav {
  grid-column: 7/span 5;
}

/* NavBar */
.nav {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 991.98px) {
  .nav {
    display: none;
  }
}
.nav__link {
  font-size: 13px;
  line-height: 170%;
  text-transform: uppercase;
  color: #fff;
}
.nav__link:not(:last-child) {
  margin-right: 17px;
}

/* Hamburger */
.menu__hamburger {
  display: none;
}
@media only screen and (max-width: 991.98px) {
  .menu__hamburger {
    display: block;
  }
}
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
@media only screen and (max-width: 575.98px) {
  .menu__btn {
    top: 18px;
    transition: 0.3s ease-in;
  }
}
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100px;
  width: 200px;
  height: 100vh;
  margin: 0;
  padding: 80px 10px;
  list-style: none;
  text-align: center;
  background-color: rgba(236, 239, 241, 0.7450980392);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.menu__item {
  display: block;
  padding: 12px 24px;
  text-align: left;
  color: #2d1e1e;
  font-size: 13px;
}
.menu__item:hover {
  background-color: #fff;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
  background-color: #2d1e1e;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  transition: 0.3s ease-in-out;
  background-color: transparent;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  transition: 0.3s ease-in-out;
  background-color: #2d1e1e;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 767.98px) {
  .header__title, .header__nav {
    display: none;
  }
  .menu__hamburger {
    display: block;
  }
  .menu__btn {
    transform: translateY(-0.5px);
  }
}
/* Nature Section */
.nature {
  padding-top: 80px;
  background-color: #6889a5;
  color: #ebecdc;
}
@media only screen and (max-width: 575.98px) {
  .nature {
    padding-top: 62px;
  }
}
.nature__container {
  display: flex;
}
@media only screen and (max-width: 575.98px) {
  .nature__container {
    flex-direction: column-reverse;
    transition: 0.3s ease-in-out;
  }
}
.nature__text-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: min-content;
  padding: 63px 18px;
  width: 50%;
}
@media only screen and (max-width: 575.98px) {
  .nature__text-container {
    display: block;
    padding-top: 40px;
    width: 100%;
  }
}
.nature__subtitle, .nature__title, .nature__text {
  grid-column: 2/span 4;
}
@media only screen and (max-width: 991.98px) {
  .nature__subtitle, .nature__title, .nature__text {
    grid-column: auto/span 6;
    transition: 0.3s ease-in-out;
  }
}
.nature__subtitle {
  margin-bottom: 18px;
  font-size: 13px;
  text-transform: uppercase;
}
@media only screen and (max-width: 575.98px) {
  .nature__subtitle {
    font-size: 9px;
    margin-bottom: 13px;
    transition: 0.3s ease-in-out;
  }
}
.nature__title {
  margin-bottom: 30px;
  font-size: 48px;
}
@media only screen and (max-width: 575.98px) {
  .nature__title {
    font-size: 36px;
    transition: 0.3s ease-in-out;
  }
}
.nature__text {
  line-height: 19.84px;
}
@media only screen and (max-width: 575.98px) {
  .nature__text {
    font-size: 14px;
    transition: 0.3s ease-in-out;
  }
}
.nature__img {
  width: 50%;
  max-height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media only screen and (max-width: 575.98px) {
  .nature__img {
    width: 100%;
    height: 500px;
    -o-object-position: top;
       object-position: top;
    transition: 0.3s ease-in-out;
  }
}

/* Best Section */
.best__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
}
.best__title {
  grid-column: 2/span 10;
  margin: 28px 0;
  font-size: 24px;
}
.best__product-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  margin: 0 16px 16px;
  border-bottom: 1px solid #2d1e1e;
}
.best__image {
  margin-bottom: 15px;
  width: 100%;
}
.best__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 190px;
  margin-bottom: 8.39px;
}
.best__text-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best__text-made {
  font-size: 13px;
}
.best__sizes {
  display: flex;
  gap: 6px;
  list-style: none;
}
.best__size {
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #2d1e1e;
}
.best__size_not-available {
  color: #cac7b8;
}

@media only screen and (max-width: 991.98px) {
  .best__product-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .best__title {
    font-size: 20px;
  }
}
/* Choise Section*/
.choise {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: #ebecdc;
}
.choise__container {
  grid-column: auto/span 6;
  cursor: pointer;
}
.choise__link {
  display: block;
  overflow: auto;
  color: inherit;
}
.choise__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 798px;
  font-size: 36px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.choise__img-women {
  background-image: url(../../images/shop_w.png);
}
.choise__img-men {
  background-image: url(../../images/shop_m.png);
}
.choise__title {
  font-size: 36px;
  color: inherit;
  cursor: pointer;
}

@media only screen and (max-width: 767.98px) {
  .choise__title {
    font-size: 30px;
    transition: 0.3s ease-in-out;
  }
  .choise__container {
    grid-column: auto/span 12;
  }
  .choise__img {
    height: 600px;
  }
}
/* Sign Section */
.sign {
  display: flex;
  padding: 64px 15px 81px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #2d1e1e;
  background-color: #ebecdc;
}
.sign__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.sign__text {
  text-align: center;
  margin-bottom: 40px;
  font-size: 13px;
}
.sign__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  gap: 16px;
  margin-bottom: 19px;
}
.sign__email {
  padding: 5px;
  outline: 1px solid rgba(45, 30, 30, 0.5);
}
.sign__email::-moz-placeholder {
  font-size: 70%;
  color: rgba #2d1e1e, 0.5;
}
.sign__email::placeholder {
  font-size: 70%;
  color: rgba #2d1e1e, 0.5;
}
.sign__email:focus {
  border-bottom: none;
  outline: 1px solid #2d1e1e;
  transition: outline 0.3s, border-bottom 0.3s;
}
.sign__btn {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.sign__btn:active, .sign__btn:hover {
  background-color: rgba(45, 30, 30, 0.1);
  transition: background-color 0.3s;
}
.sign__link {
  color: inherit;
  font-size: inherit;
}
.sign__checkbox {
  font-size: 11px;
}
.sign__label {
  position: relative;
  padding-left: 25px;
  font-size: inherit;
  cursor: pointer;
}
.sign__input {
  position: absolute;
  opacity: 0;
}
.sign__ckeckbox--checked {
  position: absolute;
  left: 0px;
}
.sign__ckeckbox--checked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #2d1e1e;
  background-color: transparent;
}
.sign__ckeckbox--checked::after {
  content: "✓";
  position: absolute;
  left: 3px;
  opacity: 0;
}
.sign__input:checked + .sign__ckeckbox--checked::after {
  opacity: 1;
}

/* Wool Section */
.wool {
  padding: 5% 10%;
}
.wool__bg-image {
  background-image: url(../images/wool.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.wool__content {
  width: 300px;
  margin-left: auto;
  padding: 0 15px;
  color: #fff;
}
.wool__heading {
  margin-bottom: 51px;
  font-size: 36px;
  line-height: 42px;
}
.wool__text, .wool__links {
  font-size: 13px;
  line-height: 16.51px;
  text-transform: uppercase;
}
.wool__text {
  margin-bottom: 109px;
}
.wool__links {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.wool__link {
  color: #fff;
  font-size: inherit;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  padding: 24px 16px 12px;
  color: #2d1e1e;
}
.footer__container-logo {
  grid-column: 1/span 2;
}
.footer__logo {
  max-width: 100%;
}
.footer__container-title-link {
  grid-column: 4/span 2;
}
.footer__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 41px;
  gap: 8px;
}
.footer__shop {
  font-size: 32px;
  color: inherit;
}
.footer__links {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}
.footer__link {
  font-size: 24px;
  color: #2d1e1e;
}
.footer__info {
  grid-column: 7/span 2;
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
  gap: 7px;
}
.footer__info-link {
  font-size: 16px;
  color: #2d1e1e;
}
.footer__info-link:last-child {
  margin-top: 22px;
}
.footer__newsletter {
  grid-column: 9/span 4;
}
.footer__newsletter-title {
  margin-bottom: 58px;
}
.footer__sign {
  margin-bottom: 85px;
  font-size: 13px;
}
.footer__socials {
  margin-bottom: 18px;
}

/* Socials */
.socials__icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
.socials__instagram {
  width: 28px;
  height: 28px;
  background-image: url(../images/inst.svg);
  transform: translateX(-3px);
}
.socials__linkedin {
  width: 22px;
  height: 22px;
  background-image: url(../images/in.svg);
  transform: translateY(-3px);
}

@media only screen and (max-width: 991.98px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer__container-logo {
    display: none;
  }
  .footer__newsletter {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */