@import "../variables/variables";

/* Footer */

.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  padding: 24px 16px 12px;
  color: $color-secondary;

  &__container-logo {
    grid-column: 1 / span 2;
  }

  &__logo {
    max-width: 100%;
  }

  &__container-title-link {
    grid-column: 4 / span 2;
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 41px;
    gap: 8px;
  }

  &__shop {
    font-size: 32px;
    color: inherit;
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
  }

  &__link {
    font-size: 24px;
    color: $color-secondary;
  }

  &__info {
    grid-column: 7 / span 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 39px;
    gap: 7px;
  }

  &__info-link {
    font-size: 16px;
    color: $color-secondary;
  }

  &__info-link:last-child {
    margin-top: 22px;
  }

  &__newsletter {
    grid-column: 9 / span 4;
  }

  &__newsletter-title {
    margin-bottom: 58px;
  }

  &__sign {
    margin-bottom: 85px;
    font-size: 13px;
  }

  &__socials {
    margin-bottom: 18px;
  }
}

/* Socials */

.socials {
  &__icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
  }

  &__instagram {
    width: 28px;
    height: 28px;
    background-image: url(../images/inst.svg);
    transform: translateX(-3px);
  }

  &__linkedin {
    width: 22px;
    height: 22px;
    background-image: url(../images/in.svg);
    transform: translateY(-3px);
  }
}

@media only screen and (max-width: 991.98px) {
  .footer {
    display: flex;
    flex-direction: column;

    &__container-logo {
      display: none;
    }

    &__newsletter {
      display: none;
    }
  }
}
