@import "../variables/variables";

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 25px 18px;
  background-color: $color-bg-primary;
  @media only screen and (max-width: 575.98px) {
    padding-top: $padding-xs;
    padding-bottom: $padding-xs;
    transition: 0.3s ease-in;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    column-gap: 16px;
    row-gap: 8px;
    width: 100%;
    @media only screen and (max-width: 991.98px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__logo {
    max-width: 100%;
    grid-column: 1 / span 2;
    @media only screen and (max-width: 575.98px) {
      grid-column: 1 / span 3;
      height: 70%;
    }
  }

  &__titles {
    grid-column: 4 / span 3;
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 991.98px) {
      display: none;
    }
  }

  &__title {
    font-size: 32px;
    color: $color-primary;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__nav {
    grid-column: 7 / span 5;
  }
}
/* NavBar */
.nav {
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 991.98px) {
    display: none;
  }

  &__link {
    font-size: 13px;
    line-height: 170%;
    text-transform: uppercase;
    color: $color-primary;

    &:not(:last-child) {
      margin-right: 17px;
    }
  }
}

/* Hamburger */
.menu {
  &__hamburger {
    display: none;
    @media only screen and (max-width: 991.98px) {
      display: block;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;

    @media only screen and (max-width: 575.98px) {
      top: $padding-xs;
      transition: 0.3s ease-in;
    }
  }
  // добавляем "гамбургер"
  &__btn > span,
  &__btn > span::before,
  &__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $color-primary;
  }

  &__btn > span::before {
    content: "";
    top: -8px;
  }
  &__btn > span::after {
    content: "";
    top: 8px;
  }
  // контейнер меню
  &__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100px;
    width: 200px;
    height: 100vh;
    margin: 0;
    padding: 80px 10px;
    list-style: none;
    text-align: center;
    background-color: #eceff1be;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  // элементы меню
  &__item {
    display: block;
    padding: 12px 24px;
    text-align: left;
    color: $color-secondary;
    font-size: 13px;
  }
  &__item:hover {
    background-color: $color-primary;
  }
}

#menu__toggle {
  opacity: 0;
  &:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    transition: 0.3s ease-in-out;
    background-color: $color-secondary;
  }
  &:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    transition: 0.3s ease-in-out;
    background-color: transparent;
  }
  &:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    transition: 0.3s ease-in-out;
    background-color: $color-secondary;
  }
  &:checked ~ .menu__box {
    visibility: visible;
    right: 0;
    transition: 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 767.98px) {
  .header {
    &__title,
    &__nav {
      display: none;
    }
  }

  .menu {
    &__hamburger {
      display: block;
    }

    &__btn {
      transform: translateY(-0.5px);
    }
  }
}
