@import '../variables/variables';

/* Header */

.header {
  max-height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 25px 27px;
  background-color: $color-bg-primary;
  -webkit-filter: drop-shadow(0 0 0.75rem #384a5a3f);
  filter: drop-shadow(0 0 0.75rem #384a5a3f);

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    -moz-column-gap: 16px;
    column-gap: 16px;
    row-gap: 8px;
    width: 100%;
    @media only screen and (max-width: 991.98px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__logo {
    max-width: 100%;
    grid-column: 1 / span 2;
    cursor: pointer;
    @media only screen and (max-width: 575.98px) {
      grid-column: 1 / span 4;
      transition: 0.3s ease-in-out;
    }
  }

  &__titles {
    grid-column: 4 / span 3;
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 991.98px) {
      display: none;
    }
  }

  &__title {
    font-size: 32px;
    color: $color-primary;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__nav {
    grid-column: 7 / span 5;
  }

  &__basket {
    display: flex;
    flex-direction: row-reverse;
    @media only screen and (max-width: 991.98px) {
      grid-column: 6 / span 1;
    }

    &-svg {
      cursor: pointer;
    }
  }
}
/* NavBar */
.nav {
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 991.98px) {
    display: none;
  }

  &__link {
    font-size: 13px;
    line-height: 170%;
    text-transform: uppercase;
    color: $color-primary;

    &:not(:last-child) {
      margin-right: 17px;
    }
  }
}

/* Hamburger */
.menu {
  &__hamburger {
    display: none;
    grid-column: 5 / span 1;
    @media only screen and (max-width: 991.98px) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    border-color: currentColor;

    @media only screen and (max-width: 575.98px) {
      top: $padding-xs;
      transition: 0.3s ease-in;
    }
  }
  &__btn > span,
  &__btn > span::before,
  &__btn > span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 1px;
    background-color: $color-primary;
  }

  &__btn > span::before {
    content: '';
    top: -8px;
  }
  &__btn > span::after {
    content: '';
    top: 8px;
  }
  &__box {
    position: relative;
    z-index: -1;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 20px;
    left: -100px;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 80px 10px;
    list-style: none;
    text-align: center;
    background-color: $color-bg-primary;
  }
  &__item {
    padding: 0 12px;
    text-align: left;
    color: $color-primary !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

#menu__toggle {
  opacity: 0;
  &:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    transition: 0.3s ease-in-out;
  }
  &:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    transition: 0.3s ease-in-out;
    background-color: transparent;
  }
  &:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    transition: 0.3s ease-in-out;
  }
  &:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    transition: 0.3s ease-in-out;
  }
}
