@import "../variables/variables";

/* Nature Section */

.nature {
  display: flex;
  padding-top: 80px;
  padding-bottom: 63px;
  background-color: $color-bg-primary;
  color: $color-bg-secondary;

  &__container {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 63px 25px 25px;
  }

  &__text-container {
    width: 376px;
  }

  &__subtitle {
    margin-bottom: 18px;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 48px;
  }

  &__img {
    width: 50%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 575.98px) {
  .nature {
    flex-direction: column;

    &__container {
      width: 100%;
      text-align: center;
    }

    &__text {
      text-align: justify;
    }

    &__img {
      width: 100%;
    }
  }
}
