@import '../variables/variables';

/* Nature Section */

.nature {
  padding-top: 80px;
  padding-bottom: 63px;
  background-color: $color-bg-primary;
  color: $color-bg-secondary;
  @media only screen and (max-width: 575.98px) {
    // padding-top: calc(80px - $padding-xs);
  }

  &__container {
    display: flex;
    @media only screen and (max-width: 575.98px) {
      flex-direction: column-reverse;
      transition: 0.3s ease-in-out;
    }
  }

  &__text-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: min-content;
    padding: 63px $padding-xs;
    width: 50%;
    @media only screen and (max-width: 575.98px) {
      display: block;
      text-align: left;
      width: 100%;
    }
  }

  &__subtitle,
  &__title,
  &__text {
    grid-column: 2 / span 4;
    @media only screen and (max-width: 991.98px) {
      grid-column: auto/span 6;
      transition: 0.3s ease-in-out;
    }
  }

  &__subtitle {
    margin-bottom: 18px;
    font-size: 13px;
    text-transform: uppercase;
    @media only screen and (max-width: 575.98px) {
      margin-bottom: 13px;
      transition: 0.3s ease-in-out;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 57.6px;
  }

  &__text {
    line-height: 19.84px;
  }

  &__img {
    width: 50%;
    max-height: 800px;
    object-fit: cover;
    object-position: top;
    @media only screen and (max-width: 575.98px) {
      width: 100%;
      height: 300px;
      padding: 0 $padding-xs;
      object-position: top;
      transition: 0.3s ease-in-out;
    }
  }
}
