@import "../variables/variables";

/* Best Section */

.best {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
  }
  &__title {
    grid-column: 2 / span 10;
    margin: 28px 0;
    font-size: 24px;
  }

  &__product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    margin: 0 16px 16px;
    border-bottom: 1px solid $color-secondary;
  }

  &__image {
    margin-bottom: 15px;
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 190px;
    margin-bottom: 8.39px;
  }

  &__text-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text-made {
    font-size: 13px;
  }

  &__sizes {
    display: flex;
    gap: 6px;
    list-style: none;
  }

  &__size {
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: $color-secondary;
  }

  &__size_not-available {
    color: $color-size-not-available;
  }
}

@media only screen and (max-width: 991.98px) {
  .best {
    &__product-cards {
      grid-template-columns: repeat(2, 1fr);
    }

    &__title {
      font-size: 20px;
    }
  }
}
