@import '../variables/variables';

/* Best Section */

.best {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
    padding: 28px $padding-xs;
  }
  &__title {
    grid-column: 2 / span 10;
    font-size: 24px;
    @media only screen and (max-width: 575.98px) {
      grid-column: auto / span 12;
    }
  }

  &__price {
    @media only screen and (max-width: 575.98px) {
      font-size: 85%;
    }
  }

  &__product-cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    margin: 0 16px 16px;
    border-bottom: 1px solid $color-secondary;
  }

  &__card {
    display: block;
    grid-column: auto/span 3;
    text-decoration: none;
    color: inherit;
    @media only screen and (max-width: 991.98px) {
      grid-column: auto/span 4;
    }
    @media only screen and (max-width: 767.98px) {
      grid-column: auto/span 6;
    }
  }

  &__image {
    margin-bottom: 15px;
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10rem;
    margin-bottom: 8.39px;
  }

  &__text-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 575.98px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5px;
    }
  }

  &__text-made {
    font-size: 75%;
  }

  &__sizes {
    display: flex;
    gap: 6px;
    list-style: none;
  }

  &__size {
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: $color-secondary;
    @media only screen and (max-width: 575.98px) {
      font-size: 10px;
    }
  }
}
