@import '../variables/variables';
/* Sign Section */

.sign {
  display: flex;
  padding: 64px 15px 81px;
  line-height: 1.3;
  text-transform: uppercase;
  color: $color-secondary;
  background-color: $color-bg-secondary;
  @media only screen and (max-width: 575.98px) {
    padding-bottom: 100px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  &__text {
    text-align: center;
    margin-bottom: 40px;
    font-size: 13px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    gap: 16px;
    margin-bottom: 19px;
  }

  &__email {
    min-width: 200px;
    padding: 5px;
    font-size: 14px;
    cursor: text;
    outline: 1px solid $color-secondary;

    &::-webkit-input-placeholder {
      font-size: 80%;
      color: inherit;
    }

    &::-moz-placeholder {
      font-size: 80%;
      color: inherit;
    }

    &:-ms-input-placeholder {
      font-size: 80%;
      color: inherit;
    }

    &::-ms-input-placeholder {
      font-size: 80%;
      color: inherit;
    }

    &::placeholder {
      font-size: 80%;
      color: inherit;
    }
  }

  &__btn {
    font-size: 16px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: 0.3 ease-in;
    }
    &:focus {
      transform: scale(0.9);
      transition: 0.3 ease-in;
    }
    @media only screen and (max-width: 575.98px) {
      position: absolute;
      top: 80px;
    }
  }

  &__link {
    color: inherit;
    font-size: inherit;
    text-decoration: underline;
  }

  &__checkbox {
    font-size: 11px;
  }

  &__label {
    position: relative;
    padding-left: 25px;
    font-size: inherit;
    cursor: pointer;
    @media only screen and (max-width: 575.98px) {
      padding-left: 20px;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__ckeckbox--checked {
    position: absolute;
    left: 0px;
  }

  &__ckeckbox--checked::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid $color-secondary;
    background-color: transparent;
  }

  &__ckeckbox--checked::after {
    content: '\2714';
    color: inherit;
    position: absolute;
    left: 1px;
    top: -2px;
    opacity: 0;
  }

  &__input:checked + &__ckeckbox--checked::after {
    opacity: 1;
  }
}
